.container {
    width: 900px;
    margin: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

#plotly-chart {
    text-align: center; /* Center the chart within the container */
}

/* Style the plotly chart title */
#plotly-chart .gtitle {
    font-size: 1.5em;
    font-weight: bold;
    margin-bottom: 20px;
}

/* Style the pie chart labels and values */
#plotly-chart text {
    font-size: 14px;
}

/* Style the pie chart legend */
#plotly-chart .legend {
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Style the pie chart slices */
#plotly-chart .slice path {
    stroke: #fff;
    stroke-width: 2px;
}

/* Style the hoverinfo box */
#plotly-chart .hoverinfo {
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    font-size: 14px;
}