{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analytics</title>
</head>
<body>
    <h1>Analytics page works</h1>

    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <p>Upload the csv file</p>
        <input type="file" name="csv_file">
        <button type="submit">Upload</button>
    </form>
    

    <script src="{% static 'scripts/analysis.js' %}"></script>
    {{ analytics|json_script:'analytics' }}
</body>
</html>